
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;

    /* Full page background image */
    background-image: url("images/IMG-20250903-WA0015.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* Login Box */
.container {
    width: 400px;
    padding: 40px;

    background-color: rgba(255, 255, 255, 0.90);

    border-radius: 15px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);

    text-align: center;
    opacity: 0.75;
}

/* Input fields */
input {
    display: block;

    width: 100%;

    padding: 12px;

    margin: 10px 0 20px 0;

    border: 1px solid gray;

    border-radius: 6px;

    font-size: 15px;

    outline: none;
}

/* Input when clicked */
input:focus {
    border: 2px solid #007bff;
}

/* Placeholder */
input::placeholder {
    color: #666;
}

/* Button */
button {
    background-color: #007bff;

    color: white;

    padding: 12px 35px;

    border: none;

    border-radius: 6px;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    margin-top: 5px;
}

/* Button hover */
button:hover {
    background-color: #0056b3;
}

