body {
    font-family: Arial, sans-serif;
    background-color: purple;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: gray;
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 0 15px black;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

h3 {
    color: white;
    margin-bottom: 25px;
}

p {
    background-color: white;
    color: black;

    padding: 12px;
    margin: 10px 0;

    border-radius: 7px;
    text-align: left;
}

/* Update Profile box */
.btn {
    display: block;

    width: 250px;
    margin: 20px auto;

    padding: 14px;

    background-color: white;
    color: purple;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    border-radius: 8px;
    border: 2px solid purple;

    box-sizing: border-box;

    transition: 0.3s;
}

.btn:hover {
    background-color: purple;
    color: white;
}

/* Delete Account box */
.delete-btn {
    display: block;

    width: 250px;
    margin: 15px auto;

    padding: 14px;

    background-color: black;
    color: white;

    font-size: 18px;
    font-weight: bold;

    border-radius: 8px;
    border: 2px solid black;

    cursor: pointer;

    transition: 0.3s;
}

.delete-btn:hover {
    background-color: white;
    color: black;
}